<div class="watch-con">
  <div class="watch" fxLayout="row ">
    <div class="left-con" fxFlex="85" fxLayout="column">
      <div class="left-resize">
        <div class="video-player">
          <app-player
            style="width: 100%"
            *ngIf="video.videoId"
            [videoId]="video.videoId"
          ></app-player>
        </div>

        <div class="video-details">
          <div class="video-hashtags"><a>#ljklk#lklk</a></div>
          <h1 class="video-title" [innerHTML]="video.title"></h1>
          <div
            class="video-info-con"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <div class="video-views" fxFlex="30">
              {{ video.viewCount | shortNumber: "full" }} views...
            </div>
            <div class="video-menu-buttons" fxFlex="90">
              <div fxLayout="row" fxLayoutAlign="end center">
                <span>
                  <mat-icon fontSet="material-icons-outlined"
                    >thumb_up</mat-icon
                  >
                  {{ video.likeCount | shortNumber }}
                </span>
                <span>
                  <mat-icon fontSet="material-icons-outlined"
                    >thumb_down</mat-icon
                  >
                  {{
                    video.dislikeCount > 0
                      ? (video.dislikeCount | shortNumber)
                      : "DISLIKE"
                  }}
                </span>
                <span>
                  <mat-icon fontSet="material-icons-outlined">share</mat-icon>
                  SHARE
                </span>
                <span>
                  <mat-icon fontSet="material-icons-outlined"
                    >download</mat-icon
                  >
                  DOWNLOAD
                </span>

                <span>
                  <mat-icon fontSet="material-icons-outlined">save</mat-icon>
                  SAVE
                </span>
              </div>
            </div>
          </div>
        </div>
        <mat-divider style="margin: 1rem 0 2rem 0"></mat-divider>
        <div class="video-info">
          <div fxLayout="row">
            <div>
              <img
                style="border-radius: 50%; width: 48px"
                [ngClass]="{ hbp: video.loader.channelThumbnail }"
                *ngIf="video.channelThumbnail"
                [src]="video.channelThumbnail"
                (load)="video.loader.channelThumbnail = false"
              />
            </div>
            <div style="margin-left: 1rem; flex: auto">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="video-channel-title-con">
                  <div
                    style="font-weight: 500"
                    [innerHtml]="video.channelTitle"
                  ></div>
                  <div>
                    <small style="color: grey"
                      >{{
                        video.subscriberCount | shortNumber: "full"
                      }}
                      subscribers</small
                    >
                  </div>
                </div>

                <div>
                  <button mat-flat-button color="warn">SUBSCRIBE</button>
                </div>
              </div>

              <p
                class="video-description"
                style="margin: 2em 0"
                [innerHtml]="video.description"
              ></p>
            </div>
          </div>
        </div>
        <mat-divider style="margin: 1rem 0 2rem 0"></mat-divider>

        <div class="video-comments">comments</div>
      </div>
    </div>
    <div class="right-con">
      <div class="video-categories">video-categories</div>
      <div class="video-list">video-list</div>
    </div>
  </div>
</div>
