@import "../../styles/colors";
.watch-con {
  background-color: $lightGrey;
  position: relative;
}
.watch {
  top: 5rem;
  position: absolute;
  left: 50%;
  width: 186vh; /* 100 * 16/9 ratio */
  height: 100%;
  margin-left: -94vh; /* width / 2 */
  z-index: 0;
}
.left-con {
  padding: 0 24px 0 0;
  margin-left: 24px;
  min-width: 638px;
}
.right-con {
  width: 400px;
  padding-right: 26px;
  min-width: 426px;
  max-width: 426px;
  object-fit: contain;
  margin-right: 0px;
}
.left-resize-con {
}
.video-player {
  height: fit-content;
  width: 100%;
  background-color: $holderLightGrey;
  margin-bottom: 1rem;
}
.video-comments {
  width: 100%;
  background-color: $holderLightGrey;
  height: 20vh;
  margin-top: 1rem;
}
.video-categories {
  width: 100%;
  background-color: $holderLightGrey;
  height: 3rem;
}
.video-list {
  width: 100%;
  background-color: $holderLightGrey;
  height: 100vh;
  margin-top: 1rem;
}
.video-views {
  color: grey;
}
.video-description {
  max-width: 615px;
}
.video-menu-buttons {
  .mat-icon {
    margin-right: 5px;
  }
  span {
    padding: 10px;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-height: 584px) {
  .watch {
    top: 5rem;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 1122px;
    height: 100%;
    z-index: 0;
    margin-left: 0px;
  }
}
.video-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.views::after {
  content: "•";
  margin: 0 4px;
}
.video-views-con {
  min-width: 220px;
}
