@import "../../../../../styles/colors";
.videos-holder {
  .row {
    margin-top: 0.88rem;
  }
  .horizontal {
    position: relative;
    margin-left: -6px !important;
    width: 100%;
    padding: 0 3rem;
    z-index: 1;
    .image-con {
      max-height: 202px;
      .image {
        width: 100%;
        max-width: 360px;
        background-color: $holderLightGrey;
        height: calc((100vw / 15 + 25px) * 1.34);
      }
    }
    .avatar-con {
      place-content: stretch flex-start;
      align-items: stretch;
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      flex: 1 1 100%;
      max-width: 18%;
      .avatar {
        width: 40px;
        height: 40px;
        background-color: $holderLightGrey;
        border-radius: 50%;
      }
    }
    .title {
      margin-bottom: 5px;
      margin-top: 2px;
      width: 88%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .title2 {
      margin-bottom: 1rem;
      width: 45%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .channel {
      margin-bottom: 8px;
      width: 23%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .desc {
      margin-bottom: 8px;
      width: 100%;
      background-color: $holderLightGrey;
      height: 13px;
    }
    .desc2 {
      width: 80%;
      background-color: $holderLightGrey;
      height: 13px;
    }
    .row {
      margin-bottom: 16px;
    }
  }
  .vertical {
    position: relative;
    padding: 0 3rem;

    width: 100%;
    z-index: 1;
    .image-con {
      max-height: 202px;
      .image {
        width: 100%;
        background-color: $holderLightGrey;
        height: calc((100vw / 15 + 15px) * 1.34);
      }
    }
    .avatar-con {
      place-content: stretch flex-start;
      align-items: stretch;
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      flex: 1 1 100%;
      max-width: 18%;
      .avatar {
        width: 40px;
        height: 40px;
        background-color: $holderLightGrey;
        border-radius: 50%;
      }
    }
    .title {
      margin-bottom: 5px;
      margin-top: 2px;
      width: 100%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .title2 {
      margin-bottom: 1.25rem;
      width: 100%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .channel {
      margin-bottom: 8px;
      width: 68%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .views {
      margin-bottom: 35px;
      width: 55%;
      background-color: $holderLightGrey;
      height: 13px;
    }
  }
}
