.videos-holder {
  .row {
    margin-top: 0.88rem;
  }
  .vertical {
    position: absolute;
    width: 100%;
    z-index: 999;
    .image {
      width: 100%;
      height: 202px;
      background-color: #d6d6d6;
    }
    .avatar-con {
      place-content: stretch flex-start;
      align-items: stretch;
      flex-direction: row;
      box-sizing: border-box;
      display: flex;
      flex: 1 1 100%;
      max-width: 18%;
      .avatar {
        width: 40px;
        height: 40px;
        background-color: #d6d6d6;
        border-radius: 50%;
      }
    }
    .title {
      margin-bottom: 5px;
      margin-top: 2px;
      width: 100%;
      background-color: #d6d6d6;
      height: 15px;
    }
    .title2 {
      margin-bottom: 1.25rem;
      width: 100%;
      background-color: #d6d6d6;
      height: 15px;
    }
    .channel {
      margin-bottom: 8px;
      width: 68%;
      background-color: #d6d6d6;
      height: 15px;
    }
    .views {
      margin-bottom: 35px;
      width: 55%;
      background-color: #d6d6d6;
      height: 13px;
    }
  }
}
