@import "../../../../../styles/colors";

.pb-counter-con {
  position: relative;
  top: -2px;
}
.min-circle-img {
  display: block;
  min-height: 202px;
  background-color: rgba(0, 0, 0, 0.05);
}
a.channel-title:hover {
  color: #030303;
  text-align: left;
}
.player-link {
  min-width: 360px;
  max-height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.card-avatar-mini {
  border-radius: 50%;
  width: 26px !important;
  height: 26px !important;
}
.mat-card-image:first-child {
  margin-top: 0px !important;
}

.title {
  font-weight: 400;
  font-size: 17px;
}
.mt-1rem {
  margin-top: 1rem;
}
.mat-card-subtitle {
  font-weight: 400;
}
.mat-elevation-z0 {
  cursor: pointer;
}
.mat-card-image {
  width: 100% !important;
  margin: 0px !important;
}
.mat-card {
  padding: 0px !important;
}
.mat-card-content {
  padding-top: 16px;
  background-color: #f9f9f9;
}
.img-con {
  background-color: #fafafa;
  position: relative;
  margin-right: 16px;
  max-width: 360px;
  min-width: 240px;
  margin-bottom: 0.75rem;
}
.thumbnail-con {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
}
.vertical {
  margin-bottom: 30px;
}
.holder-thumbnail-con {
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .thumbnail {
    width: 100%;
    background-color: $holderLightGrey;
    height: 100%;
  }
}
.holder-channel-humbnail {
  width: 40px;
  height: 40px;
  background-color: $holderLightGrey;
  border-radius: 50%;
}
.description {
  font-size: 0.8rem;
}
.holder-channel-humbnail-mini {
  border-radius: 50%;
  background-color: $holderLightGrey;
  width: 26px !important;
  height: 26px !important;
  display: block;
}
.holder-content {
  .title {
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .title2 {
    margin-bottom: 1.25rem;
    width: 100%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .channel {
    margin-bottom: 8px;
    width: 68%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .views {
    margin-bottom: 35px;
    width: 55%;
    background-color: $holderLightGrey;
    height: 13px;
  }
}

.horizontal {
  .holder-content {
    .title {
      margin-bottom: 5px;
      margin-top: 2px;
      width: 45%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .title2 {
      margin-bottom: 1rem;
      width: 25%;
      background-color: $holderLightGrey;
      height: 15px;
    }
    .channel {
      margin-bottom: 8px;
      width: 13%;
      background-color: $holderLightGrey;
      height: 15px;
      margin-left: 10px;
    }
    .desc {
      margin-bottom: 8px;
      width: 100%;
      background-color: $holderLightGrey;
      height: 13px;
    }
    .desc2 {
      width: 80%;
      background-color: $holderLightGrey;
      height: 13px;
    }
    .row {
      margin-bottom: 16px;
    }
  }
}
