.pb-counter-con {
  position: relative;
  top: -2px;
}

a.channel-title:hover {
  color: #030303;
  text-align: left;
}
.card-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.card-avatar-mini {
  border-radius: 50%;
  width: 26px !important;
  height: 26px !important;
}
.mat-card-image:first-child {
  margin-top: 0px !important;
}

.title {
  font-weight: 500;
  font-size: 16px;
}
.mt-1rem {
  margin-top: 1rem;
}
.mat-card-subtitle {
  font-weight: 400;
}
.mat-elevation-z0 {
  cursor: pointer;
}
.mat-card-image {
  width: 100% !important;
  margin: 0px !important;
}
.mat-card {
  padding: 0px !important;
}
.mat-card-content {
  padding-top: 16px;
  background-color: #f9f9f9;
}
