@import "../../../../../styles/colors";

.pb-counter-con {
  position: relative;
  top: -2px;
}
.min-circle-img {
  display: block;
  min-height: 202px;
  background-color: rgba(0, 0, 0, 0.05);
}
a.channel-title:hover {
  color: #030303;
  text-align: left;
}
.player-link {
  min-width: 360px;
  max-height: 202px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card-avatar {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}
.card-avatar-mini {
  border-radius: 50%;
  width: 26px !important;
  height: 26px !important;
}
.mat-card-image:first-child {
  margin-top: 0px !important;
}

.title {
  font-weight: 500;
  font-size: 16px;
}
.mt-1rem {
  margin-top: 1rem;
}
.mat-card-subtitle {
  font-weight: 400;
}
.mat-elevation-z0 {
  cursor: pointer;
}
.mat-card-image {
  width: 100% !important;
  margin: 0px !important;
}
.mat-card {
  padding: 0px !important;
}
.mat-card-content {
  padding-top: 16px;
  background-color: #f9f9f9;
}
.img-con {
  background-color: #fafafa;
  position: relative;
  margin-right: 16px;
  max-width: 360px;
  min-width: 240px;
  margin-bottom: 0.75rem;
}
.holder-thumbnail-con {
  height: 202px;
  .thumbnail {
    width: 100%;
    background-color: $holderLightGrey;
    height: calc((6.6vw + 15px) * 1.8);
  }
}
.holder-channel-humbnail {
  width: 40px;
  height: 40px;
  background-color: $holderLightGrey;
  border-radius: 50%;
}
.holder-content {
  .title {
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .title2 {
    margin-bottom: 1.25rem;
    width: 100%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .channel {
    margin-bottom: 8px;
    width: 68%;
    background-color: $holderLightGrey;
    height: 15px;
  }
  .views {
    margin-bottom: 35px;
    width: 55%;
    background-color: $holderLightGrey;
    height: 13px;
  }
}
