<div [ngSwitch]="posType" [class]="posType">
  {{ video?.channelId }}
  <ng-template ngSwitchCase="horizontal">
    <mat-card
      fxLayout="column"
      fxLayoutGap="16px"
      *ngIf="video"
      class="card"
      class="mat-elevation-z0"
      style="padding-top: 0px; background-color: #fafafa"
    >
      <div fxFlex="100">
        <div fxLayout="row" fxFlexAlign="flex-start" style="max-width: 1096px">
          <div
            style="
              max-width: 360px;
              min-width: 240px;
              flex: 1;
              flex-basis: 1e-9px;
              margin-bottom: 16px;
            "
          >
            <div
              class="thumbnail-con"
              (mouseenter)="onMouseEnter($event, video)"
              (mouseleave)="onMouseLeave($event, video)"
            >
              <a
                target="_blank"
                [routerLink]="['./watch']"
                [queryParams]="{ v: video.videoId }"
              >
                <img
                  class="min-circle-img"
                  [ngClass]="{ hbp: video.loader.thumbnail }"
                  style="position: absolute; top: 0px"
                  mat-card-image
                  [src]="video.thumbnail"
                  *ngIf="video.thumbnail"
                  [src]="video.thumbnail"
                  (load)="video.loader.thumbnail = false"
                />
                <div
                  [@fadeAnimation]="
                    !video.thumbnail && !video.loader.thumbnail
                      ? 'false'
                      : 'true'
                  "
                  class="holder-thumbnail-con"
                >
                  <div class="thumbnail"></div>
                </div>
                <ng-container *ngIf="video.showPlayer">
                  <a
                    [@fade]="video.showPop"
                    target="_blank"
                    [routerLink]="['./watch']"
                    [queryParams]="{ v: video.videoId }"
                    class="player-link"
                  >
                  </a>
                </ng-container>
              </a>
            </div>
          </div>
          <div
            style="
              flex: 1;
              flex-basis: 1e-9px;
              display: flex;
              flex-direction: column;
              margin-left: 16px;
            "
          >
            <mat-card-content style="padding-top: 5px">
              <div>
                <a
                  *ngIf="!video.loader.content && video.title"
                  fxFlex="100"
                  target="_blank"
                  [routerLink]="['./watch']"
                  [queryParams]="{ v: video.videoId }"
                  class="title"
                  [innerHtml]="video.title | safe: 'html'"
                ></a>
                <div
                  class="holder-content"
                  *ngIf="video.loader.content || !video.title"
                >
                  <div class="title"></div>
                </div>
              </div>
              <div class="holder-content">
                <mat-card-subtitle
                  *ngIf="video.viewCount && !video.loader.content"
                >
                  {{ video.viewCount! | shortNumber }} <span>&bull;</span>
                  {{ video.publishedAt! | dateAgo }}
                </mat-card-subtitle>
                <div
                  *ngIf="video.loader.content || !video.viewCount"
                  class="title2"
                ></div>
              </div>
              <div fxLayout="row" class="holder-content">
                <div fxFlex="100" mat-card-avatar fxLayoutAlign="start">
                  <span>
                    <img
                      [ngClass]="{ hbp: video.loader.channelThumbnail }"
                      *ngIf="video.channelThumbnail"
                      class="card-avatar-mini"
                      [src]="video.channelThumbnail"
                      (load)="video.loader.channelThumbnail = false"
                    />
                    <span
                      class="holder-channel-humbnail-mini"
                      *ngIf="
                        video.loader.channelThumbnail || !video.channelThumbnail
                      "
                    ></span>
                  </span>

                  <a
                    *ngIf="video.channelTitle && !video.loader.content"
                    style="margin-left: 0.75rem"
                    target="_blank"
                    class="channel-title"
                    [href]="YT.VIDEO_PATH + video.channelId | safe: 'url'"
                    >{{ video.channelTitle }}</a
                  >
                  <div
                    *ngIf="!video.channelTitle || video.loader.content"
                    class="channel"
                  ></div>
                </div>
              </div>
              <div>
                <mat-card-subtitle
                  *ngIf="video.description && !video.loader.content"
                  target="_blank"
                  class="description"
                  [innerHtml]="video.description | safe: 'html'"
                ></mat-card-subtitle>
                <div class="holder-content">
                  <div *ngIf="video.loader.content" class="desc2"></div>
                </div>
              </div>
            </mat-card-content>
          </div>
        </div>
      </div>
    </mat-card>
  </ng-template>
  <ng-template ngSwitchCase="vertical">
    <mat-card
      *ngIf="video"
      class="card"
      class="mat-elevation-z0"
      style="padding-top: 0px"
    >
      <div
        (mouseenter)="onMouseEnter($event, video)"
        (mouseleave)="onMouseLeave($event, video)"
      >
        <app-pop-over-video
          [remainder]="remainder"
          [videoIndex]="videoIndex"
          [video]="video"
          [triggerAnimation]="triggerAni"
        ></app-pop-over-video>
        <div class="thumbnail-con">
          <a
            target="_blank"
            [routerLink]="['./watch']"
            [queryParams]="{ v: video.videoId }"
          >
            <img
              style="position: absolute; top: 0px"
              [ngClass]="{ hbp: video.loader.thumbnail }"
              mat-card-image
              *ngIf="video.thumbnail"
              [src]="video.thumbnail"
              (load)="video.loader.thumbnail = false"
          /></a>
          <div
            [@fadeAnimation]="
              !video.thumbnail && !video.loader.thumbnail ? 'false' : 'true'
            "
            class="holder-thumbnail-con"
          >
            <div class="thumbnail"></div>
          </div>
        </div>
      </div>

      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="18" mat-card-avatar fxLayoutAlign="start">
            <div style="display: relative">
              <img
                style="position: absolute"
                [ngClass]="{ hbp: video.loader.channelThumbnail }"
                class="card-avatar"
                *ngIf="video.channelThumbnail"
                [src]="video.channelThumbnail"
                (load)="video.loader.channelThumbnail = false"
                (error)="video.channelThumbnail = video.channelThumbnail + '?'"
              />
              <div
                [@fadeAnimation]="
                  !video.channelThumbnail && !video.loader.channelThumbnail
                    ? 'false'
                    : 'true'
                "
                class="holder-channel-humbnail"
              ></div>
            </div>
          </div>
          <div fxFlex="82">
            <div
              class="holder-content"
              *ngIf="video.loader.content || !video.title"
            >
              <div class="title"></div>
              <div class="title2"></div>
              <div class="channel"></div>
              <div class="views"></div>
            </div>
            <div *ngIf="video.title && !video.loader.content">
              <a
                style="display: block; height: 40px; padding-right: 8px"
                target="_blank"
                [routerLink]="['./watch']"
                [queryParams]="{ v: video.videoId }"
                class="title"
                [innerHtml]="video.title | truncate: [75, '...'] | safe: 'html'"
              ></a>

              <div fxLayout="row" class="mt-1rem">
                <mat-card-subtitle xFlex="100">
                  <a
                    target="_blank"
                    class="channel-title"
                    [href]="YT.VIDEO_PATH + video.channelId | safe: 'url'"
                    >{{ video.channelTitle }}</a
                  ><br />
                  {{ video.viewCount! | shortNumber }} <span>&bull;</span>
                  {{ video.publishedAt! | dateAgo }}</mat-card-subtitle
                >
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card></ng-template
  >
</div>
