<div class="pop-over-video">
  <mat-card
    [@smallToBig]="{ value: currentState, params: { remainder: remainder } }"
    class="inner-card mat-elevation-z0"
    style="margin-right: 200px"
  >
    <div>
      <ng-template [ngIf]="video && currentState != 'initial'">
        <a
          class="app-player-con"
          target="_blank"
          [routerLink]="['./watch']"
          [queryParams]="{ v: video.videoId }"
        >
          <app-player
            style="pointer-events: none"
            [videoId]="video.videoId"
          ></app-player>
        </a>
      </ng-template>
    </div>

    <ng-template [ngIf]="video && currentState != 'initial'">
      <mat-card-content style="margin-right: -1px; margin-top: -10px">
        <div fxLayout="row">
          <div fxFlex="18" fxLayoutAlign="center">
            <img
              class="card-avatar"
              [src]="video.channelThumbnail"
              [alt]="video.title"
            />
          </div>
          <div fxFlex="82">
            <a
              target="_blank"
              [routerLink]="['./watch']"
              [queryParams]="{ v: video.videoId }"
              class="title"
              [innerHtml]="video.title | safe: 'html'"
            ></a>

            <div fxLayout="row">
              <mat-card-subtitle xFlex="100" style="font-size: 0.9em">
                <a
                  target="_blank"
                  class="channel-title"
                  [href]="YT.VIDEO_PATH + video.channelId | safe: 'url'"
                  >{{ video.channelTitle }}</a
                ><br />
                {{ video.viewCount! | shortNumber }}
                <span>&bull;</span>
                <span>{{ video.publishedAt! | dateAgo }}</span>
              </mat-card-subtitle>
            </div>
          </div>
        </div>
      </mat-card-content>
      <div
        class="popover-buttons"
        fxFlexAlign="baseline"
        fxLayout="row"
        fxLayoutGap="16"
      >
        <a fxFlex="50" mat-stroked-button [routerLink]="null"
          ><mat-icon fontSet="material-icons-outlined">watch_later</mat-icon>
          &nbsp; Watch later</a
        >
        <a fxFlex="50" mat-stroked-button [routerLink]="null"
          ><mat-icon fontSet="material-icons-outlined">add_to_queue</mat-icon>
          &nbsp; Add to queue</a
        >
      </div>
    </ng-template>
  </mat-card>
</div>
