.search-input {
  width: 535px;
  height: 23px;
  border: 1px solid #bbb;
  font-size: 20px;
  padding: 10px;
  outline: none;
}
.mat-option {
  height: 30px;
  padding: 0 13px;
}

.mat-option .mat-icon {
  margin-right: 10px;
}
::ng-deep .cdk-overlay-pane {
  margin-top: 2px !important;
}
.mini-drawer {
  min-width: auto;
}
.circle-letter {
  height: 32px;
  width: 32px;
  border-radius: 50% !important;
  background-color: #465a65;
  color: white;
  border: none;
  font-size: 18px;
  div {
    margin-top: -3px;
  }
}
.menu-icon {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 0px !important;
}
.mat-toolbar {
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1;
  right: 1rem;
  div button:first-child {
    margin-left: 20px;
  }
}
.search-con:focus-within {
  border: 1px solid #1c62b9 !important;
}

.search-con {
  position: relative;
  align-items: center;
  border-right: none;
  padding: 2px 6px;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid #ccc;
  input {
    border: none;
    text-align: center;
    writing-mode: horizontal-tb !important;
    padding: 1px 2px;
    height: 40px;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: none;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 46px;
    margin-left: -32px;
  }
  .mat-icon {
    z-index: 99;
    margin-left: 10px;
  }
}

form {
  button {
    background-color: #f8f8f8;
    border-radius: 0px;
    border-left: none;
  }
  flex: 2 3 1 0;
  height: 44px;
  position: relative;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
::ng-deep .mat-autocomplete-panel.mat-autocomplete-visible {
  overflow: hidden !important;
  max-height: 100% !important;
}

::ng-deep .logo {
  margin-left: 14px;
  display: inline-block;
  width: 100px;
  height: 30px;
  margin-bottom: -15px;
  background-repeat: no-repeat;
  background-image: url("../../../assets/img/youtube-logo.svg");
}
