<mat-toolbar>
  <div style="flex: 1 1 0">
    <button
      fxShow.xs="false"
      fxShow="true"
      mat-icon-button
      class="menu-icon"
      (click)="
        this.sidebarBtn.next(!this.sidebarBtn.value);
        this.showHideSTBtn$.next(false)
      "
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo"></span>
  </div>
  <div style="flex: 1 0" class="mobile-search" fxShow.xs="false" fxShow="true">
    <form onSubmit="return false;">
      <div class="search-con" style="padding: 2px; position: relative">
        <mat-icon fontSet="material-icons-outlined">search</mat-icon>

        <input
          type="text"
          placeholder="Search..."
          [formControl]="control"
          [matAutocomplete]="auto"
          (focus)="this.fetchtitles$.next()"
        />
        <mat-icon
          style="position: absolute; right: 10px"
          (click)="this.control.setValue('')"
          *ngIf="this.control.value.length > 0"
          fontSet="material-icons-outlined"
          >close</mat-icon
        >
      </div>
      <button
        fxShow.xs="false"
        fxShow="true"
        (click)="buttonToLink($event)"
        mat-button
        MatPrefix
        mat-stroked-button
        aria-label="search"
      >
        <mat-icon>search</mat-icon>
      </button>
      <mat-autocomplete
        style="margin-left: -26px"
        #auto="matAutocomplete"
        (optionSelected)="eventToLink($event)"
      >
        <div *ngIf="titles$ | async as titles">
          <mat-option *ngFor="let title of titles" [value]="title">
            <mat-icon fontSet="material-icons-outlined">search</mat-icon
            >{{ title }}
          </mat-option>
          <mat-option
            *ngIf="titles.length > 0"
            style="
              font-style: italic;
              margin-top: 10px;
              text-align: right;
              pointer-events: none;
            "
          >
            <mat-card-subtitle> Report search predictions</mat-card-subtitle>
          </mat-option>
        </div>
      </mat-autocomplete>
    </form>
  </div>

  <div style="flex: 1 1 0; text-align: right">
    <button
      mat-icon-button
      class="icon circle-letter"
      aria-label="Example icon-button with share icon"
    >
      <span class="circle-letter"><div>R</div></span>
    </button>
  </div>
</mat-toolbar>
