:host::ng-deep .mat-chip-list-wrapper {
  flex-wrap: inherit;
}
.mat-chip {
  cursor: pointer;
  white-space: nowrap;
}
:host::ng-deep .mat-standard-chip {
  margin: 12px !important;
  padding: 1rem !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}
.mat-chip-list {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-right: 50px;
  padding-left: 2rem;
}
.categories {
  position: absolute;
  right: 1rem;
  top: 0rem;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
.categories-con {
  position: fixed;
  top: 4rem;
  z-index: 99;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
}
.chip-bar-renderer {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  z-index: 999;
  width: 90px;
}
.chip-bar-renderer.right {
  right: 0px;
  margin-right: 0px;
  justify-content: start;
}
.chip-bar-renderer.left {
  justify-content: end;
  left: 0px;
  margin-left: 0px;
}
.chip-bar-renderer.right::after {
  background: white;
  height: 100%;
  width: 40px;
  display: block;
  content: "";
  position: relative;
  margin-left: -17px;
  padding-right: 10px;
}
.chip-bar-renderer.left::before {
  background: white;
  height: 100%;
  width: 40px;
  display: block;
  content: "";
  position: relative;
  margin-right: -11px;
}

.chip-bar-renderer.right::before {
  height: 100%;
  width: 50px;
  content: "";
  pointer-events: none;
  background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 80%);
  margin-right: -9px;
}
.chip-bar-renderer.left::after {
  height: 100%;
  width: 50px;
  content: "";
  pointer-events: none;
  background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 80%);
  margin-left: -9px;
}
