:host::ng-deep .mat-chip-list-wrapper {
  flex-wrap: inherit;
}
.mat-chip {
  cursor: pointer;
}
:host::ng-deep .mat-standard-chip {
  margin: 12px !important;
  padding: 1rem !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.05);
}

.categories {
  position: fixed;
  top: 4rem;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  overflow: hidden;
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
