:host::ng-deep .mat-chip-list-wrapper {
  flex-wrap: inherit;
}
.mat-chip {
  cursor: pointer;
  white-space: nowrap;
}
:host::ng-deep .mat-standard-chip {
  margin: 12px 6px !important;
  padding: 1rem !important;
  border: none;
  background: rgba(0, 0, 0, 0.05);
}
.mat-icon-button {
  border-radius: 50% !important;
}
.mat-chip-list {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-right: 50px;
}
.categories {
}
.categories-con {
}
.mat-standard-chip {
  border-radius: 12px;
}
.chip-bar-renderer {
  display: flex;
  align-items: center;
  height: 50px;
  position: absolute;
  z-index: 999;
  width: 90px;
}
.chip-bar-renderer.right {
  right: 0px;
  top: 0px;
  right: -40px;
  margin-right: 0px;
  justify-content: start;
}
.chip-bar-renderer.left {
  justify-content: end;
  left: -15px;
  margin-left: 0px;
}
.chip-bar-renderer.right::after {
  background: white;
  height: 100%;
  width: 40px;
  display: block;
  content: "";
  position: relative;
  margin-left: -17px;
  padding-right: 10px;
}
.chip-bar-renderer.left::before {
  background: white;
  height: 100%;
  width: 40px;
  display: block;
  content: "";
  position: relative;
  margin-right: -11px;
}

.chip-bar-renderer.right::before {
  height: 100%;
  width: 50px;
  content: "";
  pointer-events: none;
  background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 80%);
  margin-right: -9px;
}
.chip-bar-renderer.left::after {
  height: 100%;
  width: 50px;
  content: "";
  pointer-events: none;
  background: linear-gradient(to right, white 20%, rgba(255, 255, 255, 0) 80%);
  margin-left: -9px;
}
