.drawer {
  width: 100%;
  height: 100vh;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  border-right: none;
}

.mat-drawer {
  padding-left: 0px;
  padding-right: 16px;
}
.min-drawer {
  padding-right: 0px !important;
  ::ng-deep .mat-list-text {
    display: none !important;
  }
  span.mini-text {
    display: block;
    position: absolute;
    top: 42px;
    font-size: 11px;
  }
  .mat-line {
    display: none;
  }
  a.mat-list-item {
    // padding: 16px 0 14px;
  }
}
.max-drawer {
  span.mini-text {
    display: none;
  }
}
::ng-deep .mat-list-item-content {
  padding: 0 1.25rem !important;
}
.mat-drawer-container {
  background-color: transparent;
}
::ng-deep .side-over > .mat-list-item-content {
  justify-content: center;
}
