<mat-drawer-container
  *ngIf="drawerModeSubscription$ | async as dmsWidth"
  class="drawer"
  autosize
  [ngClass]="
    (sidebarBtn$ | async) && dmsWidth <= 1300 ? 'over-drawer' : 'side-drawer'
  "
  ><!--(sidebarBtn$ | async) && dmsWidth < 1300-->
  <mat-drawer
    #drawer
    [mode]="dmsWidth > 1300 ? 'side' : (sidebarBtn$ | async) ? 'over' : 'side'"
    opened
    [ngClass]="
      (sidebarBtn$ | async) ? 'sidenav max-drawer' : 'sidenav min-drawer'
    "
  >
    <mat-list>
      <mat-list-item>
        <button
          mat-icon-button
          class="menu-icon"
          (click)="this.sidebarBtn.next(!this.sidebarBtn.value)"
        >
          <mat-icon style="margin-left: -10px">menu</mat-icon>
        </button>
        <div class="logo"></div>
      </mat-list-item>
      <mat-list-item style="background-color: #d9d9d9">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
        <span class="mini-text">Home</span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined"
          >explore
        </mat-icon>

        <div mat-line>Explore{{ [].constructor(24).join("&nbsp;") }}</div>
        <span class="mini-text">Explore</span>
      </mat-list-item>
      <mat-list-item> </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content
    ><router-outlet style="margin-top: 5rem"></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
