<mat-drawer-container
  *ngIf="drawerModeSubscription$ | async as dmsWidth"
  class="drawer"
  autosize
  [ngClass]="
    (sidebarBtn$ | async) && dmsWidth <= 1300 ? 'over-drawer' : 'side-drawer'
  "
  ><!--(sidebarBtn$ | async) && dmsWidth < 1300-->

  <mat-drawer
    #sidenav
    [mode]="dmsWidth > 1300 ? 'side' : (sidebarBtn$ | async) ? 'over' : 'side'"
    opened
    [ngClass]="
      (sidebarBtn$ | async) ? 'sidenav max-drawer' : 'sidenav min-drawer'
    "
  >
    <mat-list>
      <mat-list-item>
        <div fxLayout="row" fxFlexAlign="center" fxLayoutAlign="start center">
          <div fxFlex="30">
            <button
              mat-icon-button
              class="menu-icon"
              (click)="this.sidebarBtn.next(!this.sidebarBtn.value)"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>

          <div fxFlex="70" *ngIf="sidebarBtn$ | async">
            <span class="logo"></span>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item
        [ngStyle]="{
          background:
            (sidebarBtn$ | async) === true ? '#E5E5E5' : 'transparent',
          cursor: 'pointer'
        }"
      >
        <a>
          <mat-icon mat-list-icon>home</mat-icon>
          <div mat-line>Home</div>
          <span class="mini-text">Home</span>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a>
          <mat-icon mat-list-icon fontSet="material-icons-outlined"
            >explore
          </mat-icon>

          <div mat-line>Explore{{ [].constructor(24).join("&nbsp;") }}</div>
          <span class="mini-text">Explore</span>
        </a>
      </mat-list-item>
      <mat-list-item> </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <router-outlet></router-outlet
  ></mat-drawer-content>
</mat-drawer-container>
