<mat-toolbar>
  <div style="flex: 1 1 0">
    <button
      mat-icon-button
      class="menu-icon"
      (click)="showFiller = !showFiller"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="logo"></span>
  </div>
  <div style="flex: 2 1 0">
    <form>
      <div class="search-con">
        <input
          type="text"
          placeholder="Search..."
          [formControl]="control"
          [matAutocomplete]="auto"
        />
      </div>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let street of filteredStreets | async"
          [value]="street"
        >
          {{ street }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>

  <div style="flex: 1 1 0; text-align: right">
    <button
      mat-icon-button
      class="icon circle-letter"
      aria-label="Example icon-button with share icon"
    >
      <span class="circle-letter" style="margin-left: auto">R</span>
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container class="drawer" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    opened
    [ngClass]="{ 'mini-drawer': !showFiller }"
  >
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line *ngIf="showFiller">Home</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined"
          >explore</mat-icon
        >
        <div mat-line *ngIf="showFiller">Explore</div>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>

  <div style="margin-top: 4rem">
    <app-categories></app-categories>
    <mat-divider></mat-divider>
    <ng-container *ngIf="videos$ | async as videos">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayoutGap="16px"
        fxLayoutGap.xs="0"
        style="margin-top: 5rem"
      >
        <ng-container *ngFor="let video of videos; let i = index">
          <app-video
            [fxFlex]="!showFiller ? '18.5' : '22.5'"
            [video]="video"
          ></app-video>
        </ng-container>
      </div>
    </ng-container>
  </div>
</mat-drawer-container>
