<mat-toolbar>
  <button mat-icon-button class="menu-icon" (click)="showFiller = !showFiller">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/img/premium.svg" />

  <span class="spacer"></span>
  <form class="form">
    <input
      type="text"
      placeholder="Search for a street"
      [formControl]="control"
      [matAutocomplete]="auto"
      class="-search-input"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let street of filteredStreets | async"
        [value]="street"
      >
        {{ street }}
      </mat-option>
    </mat-autocomplete>
  </form>
  <span class="spacer"></span>

  <button
    mat-icon-button
    class="icon circle-letter"
    aria-label="Example icon-button with share icon"
  >
    <span class="circle-letter">R</span>
  </button>
</mat-toolbar>
<mat-drawer-container class="drawer" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    mode="side"
    opened
    [ngClass]="{ 'mini-drawer': !showFiller }"
  >
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line *ngIf="showFiller">Home</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon fontSet="material-icons-outlined"
          >explore</mat-icon
        >
        <div mat-line *ngIf="showFiller">Explore</div>
      </mat-list-item>

      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <div style="margin-top: 5rem">
    <ng-container *ngIf="videos$ | async as videos">
      <div
        fxLayout="row wrap"
        fxLayoutAlign="center"
        fxLayoutGap="16px"
        fxLayoutGap.xs="0"
      >
        <mat-card
          (mouseenter)="onMouseEnter(video)"
          (mouseleave)="onMouseLeave(video)"
          [fxFlex]="!showFiller ? '18.5' : '22.5'"
          class="card"
          *ngFor="let video of videos; let i = index"
          class="mat-elevation-z0"
          style="padding-top: 0px"
        >
          <a target="_blank" [href]="video.videoUrl">
            <img
              mat-card-image
              style="max-height: 202px"
              [src]="video.thumbnail"
              [alt]="video.title"
          /></a>

          <mat-card-content style="margin-top: 16px; background-color: #f9f9f9">
            <div fxLayout="row">
              <div fxFlex="18" mat-card-avatar fxLayoutAlign="start">
                <img
                  class="card-avatar"
                  [src]="video.channelThumbnail"
                  alt="Keep overing to play"
                />
              </div>
              <div fxFlex="82">
                <a
                  target="_blank"
                  [href]="video.videoUrl"
                  class="title"
                  [innerHtml]="video.title | safe: 'html'"
                ></a>
                <div fxLayout="row">
                  <mat-card-subtitle fxFlex="100"></mat-card-subtitle>
                </div>
                <div fxLayout="row">
                  <mat-card-subtitle xFlex="100">
                    <a target="_blank" [href]="video.channelUrl">{{
                      video.channelTitle
                    }}</a
                    ><br />
                    {{ video.viewCount! | shortNumber }} <span>&bull;</span>
                    {{ video.publishedAt! | dateAgo }}</mat-card-subtitle
                  >
                </div>
              </div>
            </div>
          </mat-card-content>
          <ng-template [ngIf]="video.showPop">
            <mat-card class="inner-card mat-elevation-z0" style="padding: 0px">
              <a target="_blank" [href]="video.videoUrl">
                <iframe
                  mat-card-image
                  [src]="
                    'https://www.youtube.com/embed/' +
                      video.videoId +
                      '?autoplay=1&controls=0&enablejsapi=1&mute=1&autohide=1&showInfo=0'
                      | safe: 'resourceUrl'
                  "
                  style="
                    width: 100%;
                    padding: 0px;
                    margin: 0px;
                    pointer-events: none;
                  "
                  height="252"
                  frameborder="0"
                  allowfullscreen
                  autoplay="1"
                ></iframe
              ></a>
              <mat-card-content style="margin-top: 16px">
                <div fxLayout="row">
                  <div fxFlex="18" fxLayoutAlign="center">
                    <img
                      class="card-avatar"
                      [src]="video.channelThumbnail"
                      [alt]="video.title"
                    />
                  </div>
                  <div fxFlex="82">
                    <a
                      target="_blank"
                      [href]="video.videoUrl"
                      class="title"
                      [innerHtml]="video.title | safe: 'html'"
                    ></a>
                    <div fxLayout="row">
                      <mat-card-subtitle fxFlex="100"></mat-card-subtitle>
                    </div>
                    <div fxLayout="row">
                      <mat-card-subtitle xFlex="100">
                        <a target="_blank" [href]="video.channelUrl">{{
                          video.channelTitle
                        }}</a
                        ><br />
                        {{ video.viewCount! | shortNumber }}
                        <span>&bull;</span>
                        {{ video.publishedAt! | dateAgo }}</mat-card-subtitle
                      >
                    </div>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions
                class="btn-center"
                style="text-align: center; padding-bottom: 32px"
              >
                <a
                  mat-stroked-button
                  href="https://www.google.com/"
                  target="_blank"
                  style="width: 40%"
                  >Watch later</a
                >
                <a
                  style="width: 40%"
                  mat-stroked-button
                  href="https://www.google.com/"
                  target="_blank"
                  >Add to queue</a
                >
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </mat-card>
      </div>
    </ng-container>
  </div>
</mat-drawer-container>
