<div
  class="example-viewport"
  style="margin-top: 9rem"
  (scroll)="onScroll($event)"
>
  <div
    *ngIf="videos$ | async as videos"
    fxLayout="row wrap"
    fxLayoutAlign="center"
    fxLayoutGap="16px"
  >
    <app-video
      *ngFor="let video of videos; let i = index"
      [posType]="posType"
      [fxFlex]="videoFlexSize"
      [video]="video"
    ></app-video>
  </div>
  <app-videos-holder
    [loading]="loading$"
    [videoFlexSize]="videoFlexSize!"
    [posType]="posType"
  ></app-videos-holder>
  <div style="display: block; width: 100%; height: 100px"></div>
</div>
