<ng-container>
  <iframe
    (load)="uploadDone()"
    mat-card-image
    [src]="
      'https://www.youtube.com/embed/' +
        videoId +
        '?autoplay=1&controls=0&enablejsapi=1&mute=1&autohide=1&showInfo=0'
        | safe: 'resourceUrl'
    "
    style="width: 100%; padding: 0px; margin: 0px; pointer-events: none"
    [height]="posType == 'vertical' ? 240 : 202"
    frameborder="0"
    allowfullscreen
    autoplay="1"
  ></iframe>
  <div class="pb-counter-con">
    <mat-progress-bar
      class="progress-bar"
      [value]="PBCounter"
      color="warn"
    ></mat-progress-bar>
  </div>
</ng-container>
