iframe {
  background-color: black;
}
::ng-deep .mat-progress-bar.mat-warn .mat-progress-bar-buffer {
  background-color: transparent;
}
::ng-deep .mat-progress-bar.mat-warn .mat-progress-bar-background {
  fill: transparent;
}
::ng-deep .mat-progress-bar {
  margin-top: -3.5px;
}
