@import "../../../../../../styles/colors";
.title {
  margin: 0 0 4px 0;
  display: block;
  margin: 0 0 4px 0;
  font-weight: 500;
  max-height: 40px;
  overflow: hidden;
  display: block;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.views,
.channel-title {
  font-size: 0.8rem;
  color: $textSecondary;
}
.thumbnail-con a img {
  border-radius: 12px !important;
}
