* {
  box-sizing: border-box;
}
html {
  margin: 0;
  margin-right: -16px;
  overflow: hidden;
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a.fcu {
  color: #065fd4;
}
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
[hidden] {
  display: none !important;
}

/*fix last flex item margin*/
div[fxlayout="row wrap"] > :last-of-type {
  margin-right: 16px;
}
.hbp {
  opacity: 0;
  position: absolute;
  z-index: 99999;
}
button {
  border-radius: 0px !important;
}
